body{
    background-color: beige;
}
.home{
    background-image: url("./resources/spiderman.png")
}
label{
    color:lightgray;
}
.navigation_items ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    /* background-color: #333; */

}
.navigation_items li{
    float: left;
}
.navigation_items li a {
    border-radius: 10px;
    
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.navigation_items li a:hover{
    background:lightgray;
}

.master_table{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    background: #f5f5f5;
    margin-top: 10px;
    margin-left: 10px;
    /* display: none; */
    /* border: 1px solid black; */
}

td,th{
    border: 1px solid #CCC;
}


.poster_image{
    text-align: center;
    width: 90px;
}
.images:hover{
    transform: scale(1.5);
}
.images{
    width: 90px;
}

#trending_table_body{
    background-color: inherit; 
    font-size: 15px;
    width: 10em;
    /* display: block; */
    border-radius: 5px;
}
#trending:hover{
    text-decoration-color: black;
    background-color: lightgreen;
    color:black;
}

.overview_text{
    text-align:center;
}

.name_url:link{
    text-decoration: none;
}
.name_url{
    color: black;
}
.name_url:hover{
    color: red;
}
#tmdb_logo{
    width: 100px;
    float: right;
}

.movies{
    background-image: url("./resources/venom.jpg");
    background-repeat: no-repeat;
}

#movies_div{
    overflow-y: auto;
    height: 900px;
    width: 516px;
    margin-left: 10px;
}

.shows{
    background-image: url("./resources/minions.jpg");
    background-repeat: no-repeat;

}
.shows_div{
    overflow-y: auto;
    height: 900px;
    width: 508px;
    /* margin-left:10px; */
}
#movies_button{
    margin-left: 8px;
}

#show_trending{
    overflow-y: auto;
    height: 900px;
    width: 500px;
    
}
#shows_trending_button{
    margin-top: 10px;
}
#inputId{
    border-radius: 30px;
}